<div class="container">
  <div class="order-top">
    <div class="card">
      <!-- Order Number and Status -->
      <%= render '/shared/order_brief', order: @order %>
    </div>
    <div class="card">
      <!-- Company card -->
      <%= render '/shared/company_card', company: @order.company %>
    </div>
  </div>
  <!-- Order Details for Status Up -->
  <% if @order.status == "pending" %>
  <%= render "/shared/pending", lines: @lines, order: @order %>
  <% elsif @order.status == "packed" %>
  <%= render "/shared/packed", lines: @lines, order: @order %>
  <% elsif @order.status == "invoiced" %>
  <%= render "/shared/invoiced", lines: @lines, order: @order %>
  <% elsif @order.status == "dispatched" %>
  <%= render "/shared/dispatched", lines: @lines, order: @order %>
  <% end %>
  <!-- Change Order Status -->
  <br>
  <% if @order.status == "completed" || @order.status == "confirmed" %>
  <%= link_to "Status Up", client_order_path(@order, status_up: @order.status), class: "btn btn-success" %>
  <% end %>
  <br>
  <% unless @order.status == "pending" %>
  <%= link_to "Status Down", client_order_path(@order, status_down: @order.status), class: "btn btn-danger" %>
  <% end %>
<!-- List of Lines in the Order -->
<%= render "/shared/order_details", items: @items, order: @order %>
</div>
