<h1>Mail</h1>

<%= simple_form_for mail do |f| %>
<%= f.error_notification %>
  <%= f.input :eadd, label: "Email" %>
  <%= f.input :primary, collection: [:main, :other] %>
  <%= f.button :submit %>
<% end %>
