<div class="card-default card-order-brief col-xs-12 col-md-4">
  <h3><%= link_to "#{company.name}", company_path(company)  %></h3>

  <% city = Address.where(company: company, kind: 1)[0].pincode.city %>
  <h6><%= city.name %> | <%= city.state.name %></h6>

  <h6><%= @number %></h6>

  <h6><%= @email %></h6>

  <h6>
    <%= city.state.code %>
    <%= company.pan_number %>
    <%= company.gst_end %>
  </h6>
</div>
