<table class="table table-bordered table-default">
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Packing</th>
      <th>Total</th>
      <th>MRP</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>Discount</th>
      <th>GST</th>


      <% s = items[0].order.status %>
      <% if s == "pending" || s == "completed" %>
      <th>Options</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% items.each do |i| %>
    <tr>
      <% product = i.product %>
      <% packing = i.packing %>
      <% mrp = product.mrp - packing.rebate %>
      <% rate = mrp * (100 - product.discount) / 100 %>
      <% product_name = product.name %>
      <% quantity = i.quantity %>
      <% pack_size = packing.pack_size %>
      <% total = quantity * pack_size %>
      <% amount = rate * total %>
      <% discount = product.discount %>
      <% product_gst = product.gst * amount / 100 %>
      <td><%= product_name %></td>
      <td><%= i.quantity %> x <%= pack_size %></td>
      <td><%= i.total %> <%= product.unit %></td>
      <td><%= i.mrp %></td>
      <td><%= i.rate %></td>
      <td><%= i.amount %></td>
      <td><%= i.discount %></td>
      <td><%= i.gst %></td>
      <% if s == "pending" || s == "completed" %>
      <td><%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_item_path(i), order: i.order.id %> |||  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, item_path(i), data: { confirm: "Are you sure?" }, method: :delete, order: i.order.id %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
