<div class="form-default">
<%= simple_form_for @order, url: client_order_path(@order), html: { class: 'form-inline' } do |f| %>
<%= f.error_notification %>
  <%= f.input :invoiced_date %>
  <%= f.input :invoice_number %>
  <%= f.input :other_taxes %>
  <%= f.input :misc_charges %>
  <div class="hidden">
  <%= f.input_field "Pass Params", name: "status", value: @order.status %>
</div>
  <%= f.button :submit, class: "btn-submit" %>
<% end %>
</div>
