<h1>Welcome to Ashraj Industries.</h1>
<%= link_to "Categories", categories_path  %>
<%= link_to "Uses", uses_path  %>
<%= link_to "Types", types_path  %>
<%= link_to "Harmonics", harmonics_path  %>
<%= link_to "Products", products_path  %>
<%= link_to "New Product", new_product_path  %>
