<%= link_to "Categories", categories_path  %>
<%= link_to "Uses", uses_path  %>
<%= link_to "Types", types_path  %>
<%= link_to "Harmonics", harmonics_path  %>
<%= link_to "Packings", packings_path  %>
<%= link_to "Products", products_path %>
<%= link_to "New Product", new_product_path  %>
<%= link_to "Items", items_path  %>
<%= link_to "New Item", new_item_path  %>
<%= link_to "New Pincode", new_pincode_path  %>
<%= link_to "Pincodes", pincodes_path  %>
<%= link_to "Cities", cities_path  %>
<%= link_to "States", states_path  %>
<%= link_to "Companies", companies_path  %>
<%= link_to "Addresses", addresses_path  %>
<%= link_to "Transports", transports_path  %>
<%= link_to "Numbers", numbers_path  %>
<%= link_to "Mails", mails_path  %>
<%= link_to "New Order", new_client_order_path  %>
<%= link_to "Orders", client_orders_path  %>

<br>
<br>
<br>
<!-- <div class="top-margin-inverse"></div> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/v1535388183/Ashraj/EO.jpg');">
  <div class="banner-content">
    <h1>Ashraj Industries</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= link_to "Products", products_path, class: "btn btn-primary btn-lg" %>
    <!-- <a class="btn btn-primary btn-lg">Products</a> -->
  </div>
</div>
<br>

<div class="about row">
  <div class="about-box col-xs-12 col-md-3">
    <h4>
      Activities:
    </h4>
    <h5>
      We manufacture Nature Identical Flavours and Essential Oils. The essential oils
      provided by us find wide scale applications in the cosmetics, flavouring and
      pharmaceutical industries. This is due to various therapeutic benefits and also the distinct odour and flavour of these oils. The flavours we manufacture are used in all kinds of food and edible products like cakes, ice creams, and sweets, to name a few.
    </h5>
  </div>
  <div class="about-box col-xs-12 col-md-6">
    <h4>
      History:
    </h4>
    <h5>
      Ashraj Industries is a young and quickly growing company, established only in 2011. This is a family run business with 4 key members.
      The proprietor, Mr. Rajesh Shah, established this company after 20 years of experience with Venus Trading Co., (established by his brother, Mr. Ashesh Shah in 1985). Both brothers have worked for Jupiter Trading Co. which was established by their father, Mr. Arvindkumar Shah in 1962. Thus, despite being established in 2011, Ashraj Industries is backed by heritage and experience of three generations over a span of 55 years. The latest entrants to the family business is the third generation, Miti and Jash. Over the years, the family and hence the company, has developed an amazing rapport and goodwill within the industry in India. Currently, the company boasts a strong clientele in the Indian market for both, purchases of raw materials and selling finished products, and is growing steadily as it always has been.
    </h5>
  </div>
  <div class="about-box col-xs-12 col-md-3">
    <h4>
      Profile:
    </h4>
    <h5>
      Currently, the company is dealing with over a 100 clients in varying volumes of work across all categories. The vision is to reliably provide consistent and affordable products with complete ease of operations. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptate enim nisi aliquid nobis sint temporibus odio magnam nesciunt earum modi officiis, ullam dolore, dicta suscipit laborum recusandae. In, sit.Lorem ipsum dolor sit amet

    </h5>
  </div>
</div>
<br>
<div class="container home-contact">
  <h3>
    Get in touch!
  </h3>
  <p>
    <strong>Address:</strong> 1035, Hubtown Solaris, N. S. Phadke Marg, Andheri (East), Mumbai - 400 069
    <br>
    <strong>Phone:</strong> +91 - 869 101 6684
    <br>
    <strong>Landline:</strong> +91 - 22 2682 1340/41/42
    <br>
    <strong>E-mail:</strong> info@ashraj.in
  </p>
</div>
<br>
<br>

<!-- <div class="bottom-margin-inverse"></div> -->
