<div class="top-margin-inverse"></div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/v1535388183/Ashraj/EO.jpg');">
  <div class="banner-content">
    <h1>Ashraj Industries</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-primary btn-lg">Products</a>
  </div>
</div>
<%= link_to "Categories", categories_path  %>
<%= link_to "Uses", uses_path  %>
<%= link_to "Types", types_path  %>
<%= link_to "Harmonics", harmonics_path  %>
<%= link_to "Packings", packings_path  %>
<%= link_to "Products", products_path  %>
<%= link_to "New Product", new_product_path  %>
<%= link_to "Items", items_path  %>
<%= link_to "New Item", new_item_path  %>
<br>
<h1>.</h1><br>
<h1>.</h1><br>
<h1>.</h1><br>
<h1>.</h1><br>
<h1>.</h1><br>
<h1>.</h1><br>
<h1>.</h1>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/ashrajin/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/AshrajInd"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/ashraj-industries/"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This is powered by Ashraj Industries
  </div>
</div>
