<!-- <div class="top-margin-inverse"></div> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/v1535388183/Ashraj/EO.jpg');">
  <div class="banner-content">
    <h1>Ashraj Industries</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-primary btn-lg">Products</a>
  </div>
</div>
<br>
<div class="about container">
  <div class="about-box">
    <h4>
      Activities:
    </h4>
    <h5>
      We manufacture Nature Identical Flavours and Essential Oils. The essential oils
      provided by us find wide scale applications in the cosmetics, flavouring and
      pharmaceutical industries. This is due to various therapeutic benefits and also the distinct odour and flavour of these oils. The flavours we manufacture are used in all kinds of food/edible products.
    </h5>
  </div>
  <br>
  <div class="about-box">
    <h4>
      Profile:
    </h4>
    <h5>
      Ashraj Industries is a young and quickly growing company, established only in 2011. This is a family run business with 4 key members.
      The proprietor, Mr. Rajesh Shah, established this company after 20 years of experience with Venus Trading Co., (established by his brother, Mr. Ashesh Shah in 1985). Both brothers have worked for Jupiter Trading Co. which was established by their father, Mr. Arvindkumar Shah in 1962. Thus, despite being established in 2011, Ashraj Industries is backed by heritage and experience of three generations over a span of 55 years. The latest entrants to the family business is the third generation, Miti and Jash. Over the years, the family and hence the company, has developed an amazing rapport and goodwill within the industry in India. Currently, the company boasts a strong clientele in the Indian market for both, purchases of raw materials and selling finished products, and is growing steadily as it always has been.
    </h5>
  </div>
</div>
<%= link_to "Categories", categories_path  %>
<%= link_to "Uses", uses_path  %>
<%= link_to "Types", types_path  %>
<%= link_to "Harmonics", harmonics_path  %>
<%= link_to "Packings", packings_path  %>
<%= link_to "Products", products_path  %>
<%= link_to "New Product", new_product_path  %>
<%= link_to "Items", items_path  %>
<%= link_to "New Item", new_item_path  %>
<br>
<br>
<br>
<div class="container home-contact">
  <h3>
    Get in touch!
  </h3>
  <p>
    <strong>Address:</strong> 1035, Hubtown Solaris, N. S. Phadke Marg, Andheri (East), Mumbai - 400 069
    <br>
    <strong>Phone:</strong> +91 - 869 101 6684
    <br>
    <strong>Landline:</strong> +91 - 22 2682 1340/41/42
    <br>
    <strong>E-mail:</strong> info@ashraj.in
  </p>
</div>
<br>
<br>

<!-- <div class="bottom-margin-inverse"></div> -->
