<div class="container">
<h1>Company</h1>
<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 form-default">

<%= simple_form_for company do |f| %>
<%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :kind, collection: @company_kinds, label_method: :second, value_method: :first %>
  <%= f.input :pan_number, label: "PAN", maxlength: 10 %>
  <%= f.input :gst_end, label: "GST (last 3 digits)", maxlength: 3 %>
  <%= f.input :spl_instructions, label: "Special Instructions (if any)"%>
  <%= f.button :submit, class: "btn-submit" %>
<% end %>
</div>
</div>
