<% addresses = @company.addresses %>
<div class="card-default card-order-brief col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6 top-margin">
  <%= link_to "Go back", client_orders_path, class: "btn btn-submit" %>
  <h3>
    <strong><%= @company.name %></strong>&nbsp&nbsp&nbsp<%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_company_path(@company) %>
  </h3>
  <% addresses.each do |address| %>
  <h5>
    <strong>
      <% if address.kind == 1 %>
      Billing:
      <% else %>
      Other:
      <% end %>
    </strong>
    <%= address.street %>, <%= address.pincode.city.name %> - <%= address.pincode.pin %> | <%= address.pincode.city.state.name %> <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_address_path(address) %>
  </h5>
  <% end %>
  <h6>
    Number - <%= link_to "#{@number}", numbers_path(company: @company.id) %>
  </h6>
  <h6>
    Email - <%= link_to "#{@email}", emails_path(company: @company.id) %>
  </h6>
</div>
<%= link_to '<i class="fas fa-plus"></i> Add Number'.html_safe, new_number_path(company: @company.id), class: "btn-default btn-top-m btn-pad col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
<%= link_to '<i class="fas fa-plus"></i> Add Email'.html_safe, new_email_path(company: @company.id), class: "btn-default btn-top-m btn-pad col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
<%= link_to '<i class="fas fa-plus"></i> Add Address'.html_safe, new_address_path(company: @company.id), class: "btn-default btn-top-m btn-pad col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>

<%= link_to '<i class="fas fa-plus"></i> Add New Order'.html_safe, new_client_order_path, class: "btn-default btn-top-m btn-pad col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
<div class="col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4">
  <h1>All orders:</h1>
</div>
<%= render '/shared/orders_index', orders: Order.where(company: @company) %>
