<% addresses = @company.addresses %>
<div class="card-default card-order-brief col-xs-10 col-xs-offset-1 col-md-offset-4 col-md-4 top-margin">
  <h3>
    <%= @company.name %>
  </h3>
    <% addresses.each do |address| %>
  <h5>
    <strong>
    <% if address.kind == 1 %>
    Billing:
    <% else %>
    Other:
    <% end %>
    </strong>
    <%= address.street %>, <%= address.pincode.city.name %> - <%= address.pincode.pin %> | <%= address.pincode.city.state.name %> <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_address_path(address) %>
  </h5>
    <% end %>
  <h6>
    <%= link_to "#{@number}", numbers_path(company: @company.id) %>
  </h6>
  <h6>
    <%= link_to "#{@mail}", mails_path(company: @company.id) %>
  </h6>
</div>
  <%= link_to '<i class="fas fa-plus"></i> Add Number'.html_safe, new_number_path(company: @company.id), class: "btn btn-default btn-top-m col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
  <%= link_to '<i class="fas fa-plus"></i> Add Mail'.html_safe, new_mail_path(company: @company.id), class: "btn btn-default btn-top-m col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
  <%= link_to '<i class="fas fa-plus"></i> Add Address'.html_safe, new_address_path(company: @company.id), class: "btn btn-default btn-top-m col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>

  <%= link_to '<i class="fas fa-plus"></i> Add New Order'.html_safe, new_client_order_path, class: "btn btn-default btn-top-m col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4" %>
