<h1>Please add address</h1>

<%= simple_form_for address do |f| %>
<%= f.error_notification %>
  <%= f.input :pincode_id, collection: @pincodes, label_method: :second, value_method: :first %>
  <%= link_to "Add new pincode", new_pincode_path %>
  <%= f.input :street %>
  <%= f.input :company_id, collection: @companies %>
  <%= f.input :kind, collection: ["Primary","Secondary"]  %>
  <%= f.button :submit %>
<% end %>
